.listing-manager-packages {
	@include susy-clearfix();
}

.listing-manager-packages .listing-manager-package {
	border: 1px solid rgba(#000, .06);
	border-radius: 3px;

	h2 {
		color: $color-black;
		margin: 0;
		padding: 0;
	}

	p {
		color: rgba($color-black, .7);
		font-size: 15px;
		margin: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 12px 0;
			text-align: center;

			strong {
				color: $color-gray;
				display: block;
				font-weight: 400;
				margin: 0 0 4px 0;
			}

			span {
				display: block;
				font-weight: 500;
			}
		}
	}

	.button {
		display: block;
		margin: 25px;
		width: auto;
	}
}

.listing-manager-package {
	.gold & {
		border-color: #E9DDCC;
	}

	.silver & {
		border-color: #DCE0E1;
	}

	.bronze & {
		border-color: #DDCBC7;
	}
}

.listing-manager-package-wrapper {
	margin-bottom: 30px;

	@media (min-width: $tablet) {
		@include span(4 of 12);

		&:nth-child(3n) {
			@include last();
		}
	}

	@media (max-width: $tablet) {
		width: 100%;
	}
}

.listing-manager-package-header {
	background-color: rgba(#000, .02);
	//margin: -25px -25px 0 -25px;
	padding: 25px;

	.gold & {
		background-color: #E9DDCC;
	}

	.silver & {
		background-color: #DCE0E1;
	}

	.bronze & {
		background-color: #DDCBC7;
	}
}

.listing-manager-package-price {
	border-bottom: 1px solid rgba(#000, .06);
	border-top: 1px solid rgba(#000, .06);
	color: $color-black;
	font-size: 40px;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 20px 0;
	padding: 40px 0;
	text-align: center;

	.gold & {
		border-color: #E9DDCC;
	}

	.silver & {
		border-color: #DCE0E1;
	}

	.bronze & {
		border-color: #DDCBC7;
	}
}

.listing-manager-submission-package {
	background-color: rgba(#000, .03);
	margin: 0 0 30px 0;
	position: relative;

	h4 {
		font-size: 18px;
		margin: 0 0 5px 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		font-size: 13px;
		list-style: none;
		margin: 0 20px 0 0;
	}

	label {
		margin: 0;
		padding: 20px 25px;
	}

	input[type=radio] {
		position: absolute;
		right: 25px;
		top: 50%;
		transform: translateY(-50%);
	}

	&.gold {
		background-color: lighten(#E9DDCC, 10%);
		border-color: #E9DDCC;
	}

	&.silver {
		background-color: lighten(#DCE0E1, 10%);
		border-color: #DCE0E1;
	}

	&.bronze {
		background-color: lighten(#DDCBC7, 10%);
		border-color: #DDCBC7;
	}
}