.main .content table {
    border-collapse: separate;
    margin: 0 0 30px 0;
    width: 100%;

    th {
        border-bottom: 1px solid #f4f4f4;
        font-size: 15px;
        font-weight: 700;
        text-align: left;

        &.empty {
            background-color: #fff;
        }
    }

    th, td {
        padding: 15px 25px;
    }


    td {
        border-bottom: 1px solid #f4f4f4;
        transition: background-color .2s ease;
        vertical-align: middle;

        input {
            width: 100%;
        }

        &.day-name {
            font-weight: 400;
        }
    }

    h3 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        padding: 0;

        a {
            color: $color-black;
        }
    }

    tbody {
        tr:hover {
            td {
                background-color: transparent;
            }
        }

        tr:nth-child(even) {
            td {
                background-color: transparent;
            }
        }

        tr:last-child {
            td {
                border-bottom: 0;
            }
        }
    }

    .thumbnail-wrapper {
        padding-right: 0;
        width: 1px;

        img {
            display: block;
            height: auto;
            margin: 0;
            max-width: 42px;
        }
    }

    .actions-wrapper {
        width: 1px;
        white-space: nowrap;
    }

    .woocommerce .button:not(.menu-item), .button:not(.menu-item) {
        font-size: 12px;
        height: auto;
        line-height: 1;
        padding: 12px 15px;
    }

    .button.remove {
        background-color: $color-red;
        color: #fff;
        width: auto;

        &:hover {
            background-color: $color-red;
        }
    }
}